@import url('/fonts/JetBrainsMono/JetBrainsMono.css');
@import url('/fonts/JetBrainsMonoNL/JetBrainsMonoNL.css');

.welcome_label{
    -fx-font-family: 'JetBrains Mono Bold Italic';
    -fx-text-fill: #5f6368;
}

.welcome_label_subtext{
    -fx-font-family: 'JetBrains Mono Regular';
    -fx-text-fill: #5f6368;
}

.user_welcome_sub_message{
    -fx-font-family: 'JetBrains Mono Regular';
}

.user_welcome_message{
    -fx-font-family: 'JetBrains Mono Bold Italic';
}

.other_text{
    -fx-font-family: 'JetBrains Mono Regular';
    -fx-text-fill: #000000;
    -fx-font-size: 30;/*DO NOT DELETE THIS ONE. THIS LINE FIXED ALL OF THE BUGS ASSOCIATED WITH FONT SIZE*/
}

.other_text_bold{
    -fx-font-family: 'JetBrains Mono Bold';
    -fx-text-fill: #000000;
    -fx-font-size: 30
}

.mfx-button{
    -fx-font-family: 'JetBrains Mono Bold';
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;/*DO NOT DELETE THIS ONE. THIS LINE FIXED ALL OF THE BUGS ASSOCIATED WITH FONT SIZE*/
}

.link_button {
    -fx-background-color: transparent;
    -fx-border-radius: 3;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
    -fx-font-family: 'JetBrains Mono Bold Italic';
    -fx-font-size: 16;/*DO NOT DELETE THIS ONE. THIS LINE FIXED ALL OF THE BUGS ASSOCIATED WITH FONT SIZE*/
}

.link_button:hover{
    -fx-underline: true;
}

.radio-button{
    -fx-font-family: 'JetBrains Mono Regular';
    -fx-text-fill: #000000;
    -fx-font-size: 16; /*DO NOT DELETE THIS ONE. THIS LINE FIXED ALL OF THE BUGS ASSOCIATED WITH FONT SIZE*/
}

.mfx-scroll-pane{
    -fx-background-insets: 0; /*DO NOT DELETE THIS ONE. THIS LINE FIXED ALL OF THE BUGS ASSOCIATED WITH SCROLL PANE FOCUSING ISSUE. THIS BUG ALSO RELATED TO FONT ISSUE*/
}